.hide {
    display: none;
}

#basket {
    cursor: pointer;
}


#totalPrice {
    float : right;
    margin-top: 10px;
}

.payPrice {
    float : right;
}

#totalTitle {
    float: left;
    margin-top: 10px;
}